html {
  font-family: "Noto Serif", serif;
}

header {
  color: #fff;
  background-color: #70ad55;
}

.foot {
  color: #fff;
  background-color: #70ad55;
}

@media only screen and (min-width: 60em) {

  .med {
    padding: .5rem;
  }

}

legend {
  width: 100%;
}

input,
textarea,
select {
  border-color: #6e8c62;
}

hr {
  border-color: #6e8c62;
}
