html {
  font-family: "Noto Serif", serif;
}

header {
  color: #fff;
  background-color: #70ad55;
}

.foot {
  color: #fff;
  background-color: #70ad55;
}

@media only screen and (min-width: 38em) {

  .pad-r {
    padding-right: .65rem;
  }

  .pad-l {
    padding-left: .65rem;
  }

}

legend {
  width: 100%;
}

input,
textarea,
select {
  border-color: #6e8c62;
}

hr {
  border-color: #6e8c62;
}

.btn-color {
  background-color: #6e8c62;
  border-color: #6e8c62;
}
